.blogList-ul-container {
  width: 93%;
  align-self: flex-start;
  padding-right: 18px;
}

@media {
  .blogList-ul-container {
    width: 98%;
  }
}

.loader-css {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 58px;
}
